* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 87.5%;
    margin: 0 auto;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li a {
    color: #000000;
    font-size: 16px;
    line-height: 152%;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.button a {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.button {
    padding: 12.5px 16px;
    background-color: #469165;
    border-radius: 4px;

}

.background-img {
    background-image: url(images/Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.access p {
    color: #469165;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    padding: 8px 12px;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 1000px;

}

.access {
    display: flex;
    flex-direction: column;
}


.header-content h1 {
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding: 16px 180px;

}

.header-content h1 span {
    color: #30B868;
}

.header-content p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-bottom: 32px;

}

.thinking {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 179px;
}

.button1 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16.5px 16px;
    background-color: #469165;
    display: inline-block;
    border-radius: 4px;
}

.button2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16.5px 16px;
    background-color: transparent;
    display: inline-block;
    border: solid 1px #FFFFFF;
    border-radius: 4px;
}

.thinking-button {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.headline h1 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    padding-top: 68px;
    padding-bottom: 16px;
}

.headline p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 20px;
    padding-bottom: 44px;
}

.headline {
    text-align: center;
}

.note {
    padding: 69.5px 24px;
    text-align: center;
    box-shadow: 0 0 8px 0 #00000006;
    border-radius: 8px;
}

.note h1 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 16px 0;
}

.note p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}

.notes {
    display: flex;
    gap: 24px;
    padding-bottom: 72px;
}

.solution-card {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: white;
}

.solution-card {
    margin-bottom: 60px;
}

.solution-img img {
    width: 600px;
    height: 600px;
}

.solution-card h1 {
    font-size: 16px;
    color: #30B868;
}

.solution-card h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    color: #001931;
    margin: 16px 0;
}

.solution-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.bullet_point {
    display: flex;
    gap: 6px;
}

.bullet_section {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.early_access {
    padding: 80px 40px;
    background-color: #F7F6F2;
    text-align: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 120px 0;
}

.upper_sec h1 {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
}

.lower_sec .button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    padding: 12px 16px;
    background-color: #469165;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 16px;
}

.footer {
    background-color: #001931;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 120px;
}

.social_links ul li {
    display: flex;
}

.footer-content h1 {
    color: #FFFFFF;
    font-size: 20px !important;
    line-height: 28px;
    font-weight: medium;
    font-family: "Inter", sans-serif;
    padding-bottom: 16px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #000000;

}

.footer-icon i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 50%;

}

.footer-down {
    border-top: solid 1px rgba(229, 231, 235, 0.2);
}

.footer-down p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FAFAFA;
    padding: 30px 0;
}